# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
src/imgs/inicio2.png
src/data/data.json
src/imgs/academia.png
src/imgs/astrologia.png
src/imgs/back.jpg
src/imgs/background.jpg
src/imgs/biologia.png
src/imgs/fisica.png
src/imgs/geografia.png
src/imgs/inicio.png
src/imgs/matematica.png
src/imgs/quimica.png
src/data/data.json
android/app/src/main/res/drawable-mdpi/src_imgs_fisica.png
android/app/src/main/res/drawable-mdpi/src_imgs_academia.png
android/app/src/main/res/drawable-mdpi/src_imgs_astrologia.png
android/app/src/main/res/drawable-mdpi/src_imgs_back.jpg
android/app/src/main/res/drawable-mdpi/src_imgs_biologia.png
android/app/src/main/res/drawable-mdpi/src_imgs_geografia.png
android/app/src/main/res/drawable-mdpi/src_imgs_inicio2.png
android/app/src/main/res/drawable-mdpi/src_imgs_matematica.png
android/app/src/main/res/drawable-mdpi/src_imgs_quimica.png
src/data/data.json
src/data/online.json
src/data/data.json
